{% load static %}
<div class="col-sm-2 " id="sidebar">
    <div>
        <div class="text-center">
            <img src="{% static 'core/images/photo.jpg' %}" alt="profile pic" class="img-fluid rounded-circle mt-5"
                width="100px" height="100px">
        </div>

        <h3 class="text-center text-white st-font mt-2">Ivan Kolisnik</h3 class="">
        <hr class="border-light ">
        <nav class="nav flex-column text-center text-white">
            <a href="{% url 'home' %}" class="nav-link {{home}}">Додому</a>
            <a href="{% url 'services' %}" class="nav-link {{services}}">Сервіси</a>
            <a href="{% url 'skill' %}" class="nav-link {{skill}}">Скіли</a>
            <a href="{% url 'contact' %}" class="nav-link {{contact}} mb-3">Контакти</a>
        </nav>
    </div>

</div>